<p id="notice"><%= notice %></p>
<head>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<script type="text/javascript">
    $(document).click(function(e) {
      console.log(e.target);
      if (e.target.nodeName.toLowerCase() == 'button') {
        var button = e.target;
        button.disabled=true;
        return confirm("Application Submitted!");
      }
  });

  </script>
<h1 class="header">HOMES NEAR YOU</h1>
<div class="searchbody resultsbody">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th id="descript">Description</th>
      <th>Address</th>
      <th>Requirements</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @shelters.each do |shelter| %>
      <tr>
        <td ><%= shelter.name %></td>
        <td ><%= shelter.description %></td>
        <td ><%= shelter.address %></td>
        <td ><%= shelter.requirements %></td>
        <td name=shelter.name id ="app"><button>Apply</button></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
</div>
